<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercicio 2</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <a href="#">Autonomy</a>
      <nav>
        <ul class="nav">
          <li>Homepage</li>
          <li>Left Sidebar</li>
          <li>Right Sidebar</li>
          <li>No Sidebar</li>
        </ul>
      </nav>
    </header>
    <main>
      <img src="R.jfif" alt="imagem" width="400px" />
      <div>
        <article>
          <img src="OIP.jfif" alt="imagem do post" width="300px" />
          <h3>natureza bela</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            nobis tempore vitae ipsum fuga dolor dicta explicabo assumenda, vel
            maiores asperiores, dolorem laudantium odio aliquid voluptatem!
            Nulla distinctio voluptatibus repudiandae?
          </p>
        </article>
        <article>
          <img src="OIP.jfif" alt="imagem do post" width="300px" />
          <h3>natureza bela</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            nobis tempore vitae ipsum fuga dolor dicta explicabo assumenda, vel
            maiores asperiores, dolorem laudantium odio aliquid voluptatem!
            Nulla distinctio voluptatibus repudiandae?
          </p>
        </article>
        <article>
          <img src="OIP.jfif" alt="imagem do post" width="300px" />
          <h3>natureza bela</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti
            nobis tempore vitae ipsum fuga dolor dicta explicabo assumenda, vel
            maiores asperiores, dolorem laudantium odio aliquid voluptatem!
            Nulla distinctio voluptatibus repudiandae?
          </p>
        </article>
      </div>
    </main>
    <section>
      <article>
        <img src="OIP.jfif" alt="imagem menor" width="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum
          aperiam temporibus aspernatur architecto
        </p>
        <img src="OIP.jfif" alt="imagem menor" width="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum
          aperiam temporibus aspernatur architecto
        </p>
        <img src="OIP.jfif" alt="imagem menor" width="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum
          aperiam temporibus aspernatur architecto
        </p>
      </article>
      <article>
        <img src="OIP.jfif" alt="imagem menor" width="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum
          aperiam temporibus aspernatur architecto
        </p>
        <img src="OIP.jfif" alt="imagem menor" width="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum
          aperiam temporibus aspernatur architecto
        </p>
        <img src="OIP.jfif" alt="imagem menor" width="200px" />
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, harum
          aperiam temporibus aspernatur architecto
        </p>
      </article>
      <article>
        <img src="OIP.jfif" alt="imagem grande" width="250px" />
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate
          molestias eius dolore eaque dolorum nihil sed accusamus minus,
          reiciendis quis aperiam quam consequuntur architecto ex expedita
          temporibus, voluptatem, saepe ipsa.
        </p>
      </article>
    </section>
    <section>
      <h2>titulo da section</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
        provident nemo explicabo asperiores quasi unde tempore molestias vero
        earum fuga! Aliquam eos sint perferendis officia assumenda architecto
        illo minima sed.
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus sed
        consequuntur repellat voluptatem excepturi, cupiditate, odit unde
        inventore quis quisquam voluptatum illum assumenda numquam ipsum neque
        deleniti eum obcaecati non.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi culpa ad
        rerum minima molestias illum ab quo libero laboriosam! In laborum esse
        alias sint doloribus nulla rem optio quae molestiae!
      </p>
      <h2>titulo da section 2</h2>
      <aside>
        <nav>
          <ul>
            <li><a href="#">Saiba mais sobre</a></li>
            <li><a href="#">Onde encontrar mais</a></li>
            <li><a href="#">Quem pode ou não</a></li>
            <li><a href="#">Sites relacionados</a></li>
            <li><a href="#">Outros assuntos</a></li>
          </ul>
        </nav>
      </aside>
    </section>
    <footer>
      <h3>Rodape da pagina</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        inventore nam dolorum dolore quod quaerat fugit, harum saepe molestias.
        Aperiam vero nemo laborum inventore animi numquam maxime, expedita porro
        exercitationem!
      </p>
      <p>&copy;2024 Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
